@mixin flex {
    display: flex;
}

@mixin flex-center {
    display: flex;
    place-items: center;
}

@mixin justifyFlex-center {
    display: flex;
    place-items: center;
    justify-content: center;
}

@mixin maxScreen {
    width: 100%;
    height: 100dvh;
}